<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>布局知识点</title>
  <link rel="stylesheet" href="./css/h01.css">
</head>

<body>

  <div class="a1 a2">
    <div class="a1">11111 <br> 顶顶顶</div>
    <div class="a1">22222</div>
    <div class="a1">33333</div>
  </div>

  <div class="a1 a3">
    <div class="a1">11111</div>
    <div class="a1">22222</div>
    <div class="a1">33333</div>
  </div>

  <div class="a1 a4">
    <div class="a1">11111</div>
    <div class="a1">22222</div>
    <div class="a1">33333</div>
  </div>

  <div class="a1 a5">
    <div class="a1">11111</div>
    <div class="a1">22222</div>
    <div class="a1">33333</div>
    <div class="a1">44444</div>
  </div>

  <div class="a1 a6">
    <div class="a1">11111</div>
    <div class="a1">22222</div>
    <div class="a1">33333</div>
    <div class="a1">44444</div>
  </div>

  <div class="a1 a7">
    <div class="a1"> 11111 <br> aaaa <br> dddd </div>
    <div class="a1">22222</div>
    <div class="a1">33333 <br> 黑暗骑士 </div>
    <div class="a1">44444</div>
  </div>


</body>

</html>