<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>压力布局</title>
  <link rel="stylesheet" href="h01.css">
</head>

<body>

  <div class="a01">
    <div class="a01">111111</div>
    <div class="a01">222222</div>
    <div class="a01">333333</div>
  </div>


  <div class="a01 a02">
    <div class="a01">111111</div>
    <div class="a01">222222</div>
    <div class="a01">333333</div>
  </div>


  <div class="a01 a03">
    <div class="a01">111111</div>
    <div class="a01">222222</div>
    <div class="a01">333333</div>
    <div class="a01">444444</div>
  </div>


  <div class="a01 a04">
    <div class="a01">111111</div>
    <div class="a01">222222</div>
    <div class="a01">333333</div>
    <div class="a01">444444</div>
  </div>

  <div class="a01 a05">
    <div class="a01">111111</div>
    <div class="a01">222222</div>
    <div class="a01">333333</div>
    <div class="a01">444444</div>
  </div>

  <div class="a01 a06">
    <div class="a01">111111</div>
    <div class="a01">222222</div>
    <div class="a01">333333</div>
    <div class="a01">444444</div>
  </div>

  <hr>

  <div class="a01 a07">
    <div class="a01">111111</div>
    <div class="a01">222222</div>
    <div class="a01">333333</div>
    <div class="a01">444444</div>
  </div>

  <hr>

  <div class="a01 a08">
    <div class="a01">111111 <br> aaaa <br> cccc </div>
    <div class="a01">222222</div>
    <div class="a01">333333</div>
    <div class="a01">444444 <br> 黑暗骑士 </div>
  </div>


</body>

</html>