.box1 {
  /* 
    border是边框
    第一个参数是边框的宽度
    第二个参数solid表示边框的线形是实线
    第三个参数是颜色
  */
  border: 5px solid #ff0000;
  /* 
    margin是外边距，表示当前元素和外面元素的间距 
  */
  margin: 1rem;
  /* 
    padding是内边距，表示当前元素和里面的元素分开的间距
  */
  padding: 2.5rem;

  /* 宽高加上边框和内外边距构成了元素总空间占用，这就是盒模型 */
  width: 32rem;
  height: 18rem;
}
