.box1 {
  /* 
    border是边框
    第一个参数是边框的宽度
    第二个参数solid表示边框的线形是实线
    第三个参数是颜色
  */
  border: 5px solid #ff0000;
  /* 
    margin是外边距，表示当前元素和外面元素的间距 
  */
  margin: 1rem;
  /* 
    padding是内边距，表示当前元素和里面的元素分开的间距
  */
  padding: 2.5rem;

  /* 宽高加上边框和内外边距构成了元素总空间占用，这就是盒模型 */
  width: 32rem;
  height: 18rem;
}

/* 控制超链接的样式 */
/* 
标记名称 {} 表示页面上所有指定标记都会套用的样式
慎用！！因为影响的范围比较大
*/
a {
  color: #ff0000;
  /* a标记这种行内元素不支持盒模型，需要下面样式更改 */
  display: inline-block;
  /* 内外边距有双参数的版本，表示上下和左右 */
  margin: 1rem 3rem;
  /* 去掉下划线 */
  text-decoration: none;
}

/*
选择器:hover {} 表示当鼠标悬停在选择器对应的元素上
的时候要套用样式（专有词汇叫做伪类）
*/
a:hover {
  text-decoration: underline;
  color: #0000ff;
  background-color: #dcdcdc;
}
