/* 基本样式 */
.s01 {
  padding: 1rem;
  border: 1px solid #ff0000;
  margin: 5px;
}

/* 压力盒子 */
.s02 {
  /* 压力盒子会将它里面的第一级的子元素压迫在一行上显示！ */
  display: flex;
}

/* uninstall 卸载 */
.s03 {
  display: flex;
  /* 
    justify-content是一级子元素的水平对齐方式
    space-between表示分散对齐
  */
  justify-content: space-between;
}

.s04 {
  display: flex;
  /* space-around表示将空白平均分配到每一个子元素的两侧 */
  justify-content: space-around;
}

/* 一个简单的应用，左中右布局 */
.s05 {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

/* 左边 */
.s06 {
  font-weight: bold;
  font-size: 1.2rem;
}

/* 中间的部分 */
.s07 {
  /* 行内元素要加这个样式才能盒模型 */
  display: inline-block;
  margin-right: 1.5rem;
  cursor: pointer;
}

.s07:hover {
  color: #08c308;
}

.s08 {
  color: #08c308;
}
