body {
  margin: 0px;
}

/* 头部区域，左边logo，右边菜单，分散对齐 */
.a01 {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #eff4fa;
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #d6dfea;
}

a {
  color: #1d5494;
  font-size: 0.8rem;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.a01 span {
  font-size: 0.8rem;
  color: #999;
}

.a02 {
  background-color: #eff4fa;
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  border-top: 1px solid #d6dfea;
}

.a02 span {
  font-size: 0.8rem;
  color: #999;
}

.a03 {
  margin-top: 0.5rem;
}

.a03 > a {
  color: #999;
  display: inline-block;
  margin: 0px 1rem;
}

.a04 {
  display: flex;
  margin-top: 5rem;
  align-items: center;
}

.a04 > div:first-of-type {
  flex: 6;
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}

.a04 > div:last-of-type {
  flex: 4;
  display: flex;
}

.a05 {
  border: 1px solid #a0b1c4;
  border-radius: 5px;
}

.a06 {
  padding: 3rem 1rem;
}

.a07 {
  background-color: #eff4fa;
  border-bottom: 1px solid #1d5494;
  padding: 0.8rem 0px;
  display: flex;
  justify-content: space-around;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.a08 {
  border: 1px solid #dcdcdc;
  padding: 0.5rem;
  width: 15vw;
  margin-bottom: 1rem;
}

.a08 > input {
  border-width: 0px;
  outline: none;
  width: 100%;
}

/* 
:focus-within伪类表示当元素或者它里面的元素拥有焦点的时候
*/
.a08:focus-within {
  border-color: #5a98de;
}

/* ::placeholder伪元素，表示输入框中的提示文本 */
.a08 > input::placeholder {
  color: #dcdcdc;
}

.a08:focus-within > input::placeholder {
  color: #999;
}

.a09 {
  background-color: #5a98de;
  color: #fff;
  text-align: center;
  margin: 1.5rem 0px;
  padding: 0.5rem 0px;
  border-radius: 4px;
}

.a09:hover {
  background-color: #6ba9ef;
  cursor: pointer;
}

.a10 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: #aaa;
  margin-top: 2rem;
}

.a10 span {
  display: inline-block;
  transform: translateY(3px);
}

.a10 input {
  transform: translateY(2px);
}

.a11 {
  margin: 1rem 0px 0px 0px;
  display: flex;
  justify-content: space-between;
}

.a11 > span {
  font-size: 0.8rem;
  color: #ccc;
}

.a11 svg {
  transform: translateY(2px);
}