body {
  margin: 0px;
}

div {
  box-sizing: border-box;
}

.a01 {
  background-color: #fff;
  padding: 0.5rem 0px;
  border-bottom: 1px solid #dcdcdc;
  display: flex;
  justify-content: center;
  align-items: center;
  /* 固定在上方 */
  z-index: 2;
  position: sticky;
  top: 0px;
  left: 0px;
  min-width: 1366px;
}

.a01 > svg:first-of-type {
  display: block;
  height: 1.5rem;
  width: auto;
}

.a02 {
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

.a02 > span {
  display: inline-block;
  margin: 0px 0.3rem;
}

.a03 {
  display: flex;
  align-items: center;
  width: 20vw;
  background-color: #eee;
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  margin: 0px 2vw;
}

.a03 input {
  width: 100%;
  background-color: #eee;
  border-color: transparent;
  outline: none;
}

.logo {
  display: block;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
}

.a04 {
  display: flex;
  text-align: center;
  font-size: 0.5rem;
  margin: 0px 0.5rem;
}

.a04 > div {
  margin: 0px 0.3rem;
}

.a05 {
  background-color: #fb7299;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
}

.a06 {
  min-width: 1366px;
  width: 90vw;
  margin: 0px auto;
}

.a07 {
  display: flex;
  margin: 1rem 0px;
  justify-content: space-between;
  align-items: center;
}

.a08 {
  display: flex;
  text-align: center;
  font-size: 0.8rem;
}

.a08 svg {
  display: block;
  width: 3rem;
  height: auto;
  margin-bottom: -0.8rem;
}

.a08 > div {
  margin-right: 0.5rem;
}

.a09 span {
  display: inline-block;
  width: 5em;
  font-size: 0.8rem;
  background-color: #eee;
  padding: 0.3rem 0px;
  text-align: center;
  border-radius: 0.3rem;
  margin: 0.3rem;
}

.a10 span {
  display: inline-block;
  margin: 0px 0.5rem;
  color: #333;
  font-size: 0.8rem;
}

.a10 .iconfont {
  font-size: 1rem;
}

.a10 {
  padding-left: 1rem;
  border-left: 2px solid #999;
}

.a10 > div:first-of-type {
  margin-bottom: 1rem;
}
