<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>压力盒子布局</title>
  <link rel="stylesheet" href="./css/h03.css">
</head>

<body>

  <div class="s01">

    <div class="s01">1111111</div>
    <div class="s01">2222222</div>
    <div class="s01">3333333</div>

  </div>

  <hr>

  <div class="s01 s02">

    <div class="s01">1111111</div>
    <div class="s01">2222222</div>
    <div class="s01">3333333</div>

  </div>





</body>

</html>