<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>压力盒子布局</title>
  <link rel="stylesheet" href="./css/h03.css">
</head>

<body>

  <div class="s01">

    <div class="s01">1111111</div>
    <div class="s01">2222222</div>
    <div class="s01">3333333</div>

  </div>

  <hr>

  <div class="s01 s02">

    <div class="s01">1111111</div>
    <div class="s01">2222222</div>
    <div class="s01">3333333</div>

  </div>

  <hr>

  <div class="s01 s03">

    <div class="s01">1111111</div>
    <div class="s01">2222222</div>
    <div class="s01">3333333</div>

  </div>

  <hr>

  <div class="s01 s04">

    <div class="s01">1111111</div>
    <div class="s01">2222222</div>
    <div class="s01">3333333</div>
    <div class="s01">4444444</div>

  </div>

  <hr>

  <div class="s01 s05">

    <div class="s01">

      <div class="s01">aaaaaaa</div>
      <div class="s01">bbbbbbb</div>

    </div>

    <div class="s01">2222222</div>
    <div class="s01">3333333</div>
    <div class="s01">4444444</div>

  </div>


  <hr>

  <!-- 一个简单的例子，使用压力盒子完成左中右的布局 -->
  <div class="s06">

    <div class="s07">SAKURA FRP</div>

    <div>
      <span class="s08 s09">首页</span>
      <span class="s08">服务</span>
      <span class="s08">用户</span>
      <span class="s08">商城</span>
      <span class="s08">帮助</span>
    </div>

    <div>DarkKnight</div>

  </div>


  <!-- qq邮箱上方效果，左右布局 -->
  <div class="s10">

    <!-- 左边logo -->
    <div>
      <img src="./qqmail.webp" alt="">
    </div>

    <!-- 右边菜单 -->
    <div>
      <span>基本版</span>
      <span>手机版</span>
    </div>

  </div>


</body>

</html>